# Environments
.env
.venv
venv/
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Cache
.cache/

# Logs
.logs/

/trace.zip
/.models/
/.temp_downloads/
/run-portable.bat
/python-embed/
/package.bat
/Unipus-AI-Automator-Lite-v*.zip
Unipus-AI-Automator-Portable-v*.zip
/Unipus-AI-Automator-update_v*_to_v*.zip
/__temp_*/
