# Environments
.env
.venv
venv/
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Cache
.cache/

# Logs
.logs/

# Manually downloaded WebDriver
msedgedriver.exe

/trace.zip
/.models/en_US-lessac-medium.onnx
/.models/en_US-lessac-medium.onnx.json
/question_types.md
/.models/
